/*
 Theme Name:   Azera Shop Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Azera Shop Child Theme
 Author:       Radek Pawlik
 Author URI:   http://zuzustudio.eu
 Template:     azera-shop
 Version:      1.23.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  azera-shop-child
*/


/* Typography */
/**/
body,
button,
input,
select,
textarea {
	color: #2e2761;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #2e2761;
	clear: both;
	font-weight: 100;
	margin: 0;
	font-family: 'Libre Baskerville', serif;
	text-rendering: optimizeLegibility;
}

h1 {	
	font-size:32px;
	clear:none;
}

.entry-title {
	font-family: 'Libre Baskerville', serif;
	font-size: 23px;
	font-size: 1.75rem;
	font-weight: 500;
	line-height: 1.25;
	margin-bottom: 1em;
}
.post-list h1.entry-title {padding-top:5px;margin-bottom:15px;}
.post-list h1.entry-title a {
	color: #2e2761;
	font-size: 28px;
	text-transform: none;
	border-bottom:1px solid #bc832d;
	padding-bottom:5px;
	line-height:47px;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #2e2761;
}

.entry-title h1 {
	border-bottom:1px solid #bc832d;padding-bottom:10px;
}

.entry-content,
.entry-content p,
.entry-content span {
	color: #2e2761;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}

.post-list article .entry-content p {
    margin: 0px;
}
.navbar-inverse {
    background-color: #FFF;
}

/* Header blog */

.archive-top {
	background-position: 70% -90%;
	background-size: cover;
}

.archive-top .section-overlay-layer {
	padding-top: 200px;
	padding-bottom: 100px;
	background: rgba(13, 60, 85, 0.6);
}

.archive-top {
	color: #fff;
	text-align: center;
}

.archive-top-big-title {
	margin: 10px 20px 20px;
	font-size: 3.6rem;
	font-weight: 300;
	line-height: 4.9rem;
	text-transform: uppercase;
	width: 30%;
	float:right;
	font-family: 'Libre Baskerville', serif;
	text-rendering: optimizeLegibility;
	color: #bc832d;
}

.archive-top-text {
	margin-top: 30px;
	font-size: 16px;
	font-weight: 300;
	width: 30%;
}

.archive-top .colored-line {display:none;}

/* LOGO BAR */

.navbar-header-wrap {
	display: table-row;
	float: none;
	width: 100%;
	vertical-align: middle;
}

.header-logo-wrap {
	display: block;
	width: 100%;
	padding: 4px 0;
}

.header-nav-wrap {
	display: table-row;
	vertical-align: middle;
	background:#2e2761;
}
/**/
#menu-primary {
	float: left;
	padding: 0;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
		float: none;
	}
	
.navbar-brand > img {
	display: inline-block;
	max-height: 83px;
}

header .navbar-brand {
	padding: 7px 7px 7px 0px;
	margin-left:-7% !important;
	line-height: 109px;
}

.godlo{
	float: left;
	padding: 15px 7px 0px 5%;
	vertical-align: middle;
	height: auto;
	display: inline-block;
}	

/* MENU */
#site-header-menu  {background:#2e2761;padding-left:15px;width:100%;text-align:center;}
#site-header-menu ul {margin:auto; display:inline-block;}
#site-header-menu li {background:#2e2761;padding: 15px 0;}
#site-header-menu li:hover {background:#bc832d;}
#site-header-menu a {color:#fff;font-family: 'Libre Baskerville', serif;text-transform: uppercase;font-weight:100;font-size:16px;}
#site-header-menu  ul {margin-bottom:0px;padding-bottom:0px;}

.main-navigation {text-align: left;}

#menu-toggle{background:#bc832d;}

/* All Page Settings */
.container {width: 100%;padding: 0px;}

/* Single Article */
.single-article {margin-top: 125px;}

/* First post static */
.pointer_logo{background-image: url("img/pointer_logo.png");width:287px;height:219px;display:block;float:left;margin-left: 0%;}
.welcome-block {float:none;width:auto;overflow: hidden;padding-left:1%;}
.header-intro {float:none;width:auto;overflow: hidden;padding-left:5%;}
.header-intro  h1 {border-bottom:1px solid #bc832d;padding-bottom:10px;margin-bottom:20px;}

.header-intro,
.header-intro p,
.header-intro span {
	color: #2e2761;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
}

.section-title {margin:40px 0;border-bottom:1px solid #bc832d;padding-bottom:10px;}
.section-title-center {margin:40px auto;border-bottom:1px solid #bc832d;text-align:center;}

/* Content area */
.content-area {
	margin-top: 125px;
}


/* Post date */

.post-img-wrap {
	position: relative;
	min-height: 150px;
	background:#eee;
	background-image: url("img/pointer_date.png");
	width:286px;
	height:230px;
	display:block;
	float:left;
}
.post-img-wrap .post-date {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 90px;
	min-height: 90px;
	padding: 0px 0px;
	background: none;
	text-align: center;
	margin: auto;
}
.post-img-wrap .post-date :hover{color: #bc832d;text-decoration:none !important;border:none !important;}

.post-date .post-date-day {
	display: block;
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	width: auto;
	display:inline-block;
	text-align:center;
	font-family: 'Libre Baskerville', serif;
	font-style: regular;
	line-height: 0.9em;
	margin-top:15%;
}

.post-date .post-date-month {
	display: block;
	color: #fff;
	font-size: 1.875rem;
	font-weight: 500;
	line-height: 24px;
	text-transform: lowercase;
	text-align:center;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	width:286px;
	display:block;
}

.entry-author-link,
.entry-permalink,
.entry-date,
.entry-meta {
display: none;
}
.list-post-entry-meta {float:left;width:0%;}

/* Post header and content */
.entry-title{float:none;width:auto;overflow: hidden;padding-left:5%;}
.entry-content {float:none;width:auto;overflow: hidden;padding-left:5%;}

.colored-line-left {width:0px;}
.post-list {background-color: #fff;}
.post-list article {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	padding: 10px;
	border: none;
	border-bottom: none;
	background-color:#fff;
}

/* Sidebar */
#sidebar-secondary menu a {
	font-size:12px;
}
#primary
{
float:right;
margin: 50px 0 0 0;
}
#secondary
{
float:left;
}

/* Side bar menu */
.widget_nav_menu {
	padding-top: 125px;
}
.widget_nav_menu a{
	font-size: 14px;
	font-family: 'Libre Baskerville', serif;
	color: #2e2761;
}
.widget_nav_menu a:hover{
	color: #bc832d;
	text-decoration: none;
}

/* Bottom navbar */
.posts-navigation .nav-previous {
	float: left;
	width: 100%;
	font-weight: bold;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 25px;
}

.posts-navigation .nav-previous  a {
	color: #2e2761;
}
.posts-navigation .nav-previous  a:hover {
	color: #bc832d;
	text-decoration: none;
}

/* Bottom part of home page */
.mapka_main {background-image: url("img/mapka2.png");width:1440px;height:489px;display:block;float:none;margin: auto;}
a.fb {background-image: url("img/fb.png");width:97px;height:97px;display:block;float:none;margin: auto;}
a.fb:hover {background-image: url("img/fbh.png");}
.footer_info{
	text-align: center;
	margin-top: 85px;
}
.footer_text {
	padding: 25px 0;
	font-size: 16px;
}
/* Footer */
.footer {padding:0px;}
.bottom-line {
	border-bottom: 20px solid #bc832d;
	width: 100%;
}

/* Single page */
.single-page {
	padding-top: 40px;
}

@media (max-width: 1200px) {
	#site-header-menu a {color:#fff;font-family: 'Libre Baskerville', serif;text-transform: uppercase;font-weight:100;font-size:14px;}
}

@media (max-width: 992px) {
	.home-shop-product-info {
		top: 330px;
	}
}

@media (max-width: 768px) {
}

/*---------------------------------------
   6.1 FIXES FOR >= 1200PX SCREENS
-----------------------------------------*/

@media (min-width: 1200px) {
	.header-style-two .vertical-registration-form {
		width: 80%;
	}
}
/*---------------------------------------
   6.1a FIXES FOR >= 1200PX SCREENS
-----------------------------------------*/

@media (max-width: 1200px) {
	.woocommerce ul.products li.product a.added_to_cart {
		width: auto !important;
		margin-top: 10px;
		padding: 6px 15px 6px 15px;
		border-radius: 3px;
	}
}
/*---------------------------------------
   6.2 FIXES FOR 992PX to <= 1199PX SCREENS
-----------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
	html {
		font-size: 90% !important;
	}
}
/*---------------------------------------
   6.3 FIXES FOR <= 1024PX SCREENS
-----------------------------------------*/

@media (max-width: 1024px) {
	.header .overlay-layer {
		padding-bottom: 85px;
	}
}
/*---------------------------------------
   6.4 FIXES FOR <= 991PX SCREENS
-----------------------------------------*/

@media (max-width: 991px) {
	html {
		font-size: 90% !important;
	}

	body {
		font-size: 15px;
		line-height: 26px;
	}

	.browser-image img {
		width: 100%;
	}
}
/*---------------------------------------
   6.5 FIXES FOR => 768PX to <= 991PX SCREENS
-----------------------------------------*/

@media (max-width: 782px) {
	.admin-bar .sticky-navigation-open .sticky-navigation {
		top: 46px;
	}
	.contact-links .contact-link-box {
		margin-right: 0;
	}
}

@media (min-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	html {
		font-size: 95%;
	}

	.sticky-navigation {
		min-height: 70px;
	}

	.sticky-navigation .main-navigation > li.has_children > a {
		padding: 26px 18px;
		line-height: 34px;
		line-height: 18px;
	}

	.sticky-navigation .login-register {
		margin-top: 3px;
	}
}
/*---------------------------------------
   6.6 FIXES FOR <= 768PX SCREENS
-----------------------------------------*/

@media (max-width: 767px) {
	html {
		font-size: 80%;
	}
	body {
		line-height:normal;
	}
	
	h1 {
		font-size:24px;
	}
	
	.godlo{
		padding: 17px 5px 0px 3%;
		height: 82px;
	}
	.navbar-brand > img {
		height: 70px;
	}	
	.navbar-toggle {
		font-size: 30px !important;
	}

	.navbar-inverse .navbar-toggle {
		border: 0 !important;
	}
	
	#site-header-menu  {padding-left:5px;width:50%;}
	#site-header-menu li {padding: 0;}
	#site-header-menu a {font-weight:700;font-size:10px;line-height:normal;padding:3;}
	#site-header-menu  ul {margin-bottom:0px;padding-bottom:0px;}		
	
	.archive-top {
		background-position: 70% -90%;
		background-size: cover;
	}
	.archive-top-big-title {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 2.125rem;
		text-transform: uppercase;
	}	
	.post-img-wrap {
		background-size: 214px 172px;
		width:214px;
		height:172px;
	}

	.post-date .post-date-day {
		font-size: 112px;
		font-weight: 500;
	}

	.post-date .post-date-month {
		font-size: 1.4rem;
		font-weight: 300;
		width:214px;
	}
	.pointer_logo{width:214px;height:164px;background-size: 214px 164px;float:none;}	
	
	.posts-navigation .nav-previous {
		font-size: 30px;
	}
	
	.mapka_main {width:767px;height:259px;background-size: 767px 259px;}
	.footer_info{
		margin-top: 60px;
	}
	.footer_text {
		padding: 18px 0;
		font-size: 12px;
	}
	.logo_bottom {
		width: 252px;
		height: 123px;
	}
	a.fb {width:73px;height:73px;background-size: 73px 73px;}
	a.fb:hover {background-size: 73px 73px;}

	
}




@media (max-width: 680px) {
	.single-feature {
		float: none;
		width: auto;
	}
	
}

/*---------------------------------------
   6.7 FIXES FOR MOBILE SCREENS
-----------------------------------------*/

@media (max-width: 580px) {
	html {
		font-size: 65% !important;
	}

	body {
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
	}

	h1 {
		font-size:24px;
	}
	
	.godlo{
		padding: 25px 5px 0px 3%;
		height: 70px;
	}
	.navbar-brand > img {
		padding-top: 0px;
		margin-top: 0px;
		height: 50px;
	}	
	.navbar-header-wrap {border:1px solid red;}
	.navbar-toggle {
		font-size: 30px !important;
	}

	.navbar-inverse .navbar-toggle {
		border: 0 !important;
	}
	
	#site-header-menu  {padding-left:5px;width:50%;}
	#site-header-menu li {padding: 0;}
	#site-header-menu a {font-weight:700;font-size:10px;line-height:normal;padding:3;}
	#site-header-menu  ul {margin-bottom:0px;padding-bottom:0px;}		
	
	.archive-top {
		background-position: 70% -90%;
		background-size: cover;
	}
	.archive-top-big-title {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 2.125rem;
		text-transform: uppercase;
	}	
	.post-img-wrap {
		background-size: 214px 172px;
		width:214px;
		height:172px;
	}

	.post-date .post-date-day {
		font-size: 112px;
		font-weight: 500;
	}

	.post-date .post-date-month {
		font-size: 1.4rem;
		font-weight: 300;
		width:214px;
	}
	.pointer_logo{width:214px;height:164px;background-size: 214px 164px;margin-bottom:20px;}	
	
	.posts-navigation .nav-previous {
		font-size: 30px;
	}
	
	.mapka_main {width:580px;height:196px;background-size: 580px 196px;}
	.footer_info{
		margin-top: 60px;
	}
	.footer_text {
		padding: 18px 0;
		font-size: 12px;
	}
	.logo_bottom {
		width: 189px;
		height: 92px;
	}
	a.fb {width:55px;height:55px;background-size: 55px 55px;}
	a.fb:hover {background-size: 55px 55px;}	
	
}